<% provide :webpageTitle, "About Us" %>

<% provide :webpageMetaTag do %>
  <meta name="keywords" content="pigRider Tools" />
  <meta name="description" content="pigRider Tools" />
<% end %>


<div style="text-align:center">
  <h3 style="margin:50px;"><i><span style="color:blue">PigRider Tools</span></i> is developed by <span style="color:blue">PigRider Studio</span>.</h3>
  <h3 style="margin:50px;">The goal of our studio is to help as many people as we can!</h3>
  <h3 style="color:red;"><i>Thanks for your visiting!</i></h3>
</div>
