<% provide :webpageTitle, "Contact Us" %>

<% provide :webpageMetaTag do %>
  <meta name="keywords" content="pigRider Tools" />
  <meta name="description" content="pigRider Tools" />
<% end %>


<div style="margin:80px 200px;">
  <h3 style="color:red">Developers:</h3>
  <table style="margin:5px 30px;">
    <tr height="35px"><td width="200px"><h3>Xiaotian Li</h3></td><td><h3 style="color:blue">xiaotdl@gmail.com</h3></td></tr>
    <tr height="35px"><td width="200px"><h3>Ming Lian</h3></td><td><h3 style="color:blue">koomkool@gmail.com</h3></td></tr>
    <tr height="35px"><td width="200px"><h3>Liang Zhang</h3></td><td><h3 style="color:blue">Liang.Zhang-2@colorado.edu</h3></td></tr>
    <tr height="35px"><td width="200px"><h3>Dingyu Zhou</h3></td><td><h3 style="color:blue">dingyu.zhou@colorado.edu</h3></td></tr>
  </table>
</div>